.side_bar
  .side_bar__user_name
    .side_bar__user_name__top_items
      .side_bar__user_name__top_items__name
        森脇健児&森口博子
      .side_bar__user_name__top_items__icons
        = link_to "#", class: "contents__btn", style: "color:#ffffff" do
          = icon('fa', 'edit', class: "btn_left")      
        = link_to "#", class: "contents__btn", style: "color:#ffffff" do
          = icon('fas', 'cog', class: "btn_right")
  .side_bar__group_list
    .side_bar__group_list__groups
      .side_bar__group_list__groups__group
        .side_bar__group_list__groups__group__name
          夢がMORI MORI
        .side_bar__group_list__groups__group__message
          SMAPはワシが育てた