.chat_main {
  background-color: #ffffff;
  padding-left: 300px;
  
  &__group_info {
    display: flex;
    justify-content: space-between;
    height: 100px;
    
    &__header_left {
      color: #333333;
      font-weight: bold;
      font-size: 20px;
      box-sizing: border-box;
      padding: 35px 0 15px 40px;

      &__name {
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    
    &__header_right {
      box-sizing: border-box;
      padding: 28px 60px 0 0;
      
      &__btn {
        border: 1px solid aqua;
        color: aqua;
        font-weight: bold;
        font-size: 20px;
        padding: 0 20px 0 20px;
        height: 40px;
        line-height: 40px;
        
        .btn {
          text-decoration: none;
        }
      }
    }
  }
  
  &__message_list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding-left: 40px;

    &__name_1 {
      box-sizing: border-box;
      display: flex;
      padding-top: 35px;
      
      &__name {
        color: #333333;
        font-size: 16px;
      }

      &__date {
        color: #999999;
        font-size: 12px;
      }
    }

    &__message_1 {
      margin-top: 12px;
      color: #434A54;
      font-size: 14px;
    }

    &__name_2 {
      box-sizing: border-box;
      display: flex;
      padding-top: 46px;
      
      &__name {
        color: #333333;
        font-size: 16px;
      }

      &__date {
        color: #999999;
        font-size: 12px;
      }
    }

    &__message_2 {
      margin-top: 12px;
      color: #434A54;
      font-size: 14px;
    }
  }
  
  &__message_form {
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100vw - 300px);

    &__new_message {
      
      #new_message {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;
        width: 100%;
        line-height: 50px;
        height: 50px;
      }

      &__form {
        width: 100%;

        #message_text {
          height: 50px;
        }

        &__input {
          width: 100%;
          border: solid 0px;
        }

        input::placeholder {
          padding-left: 10px;
        }
      }
      
      &__icon {

        &__image {
          height: 50px;
          background-color: #ffffff;
          margin-right: 15px;
          
          #message_image {
            display: none;
          }

          .file_select {

          }

          .icon {
            margin-right: 10px;
          }
        }
      }
        .btn_2 {
          text-decoration: none;
          color: #ffffff;
          border: 1px solid aqua;
          background-color: aqua;
          font-size: 20px;
          height: 50px;
          line-height: 50px;
          width: 100px;
          text-align: center;
      }
    }
  }
}