* {
  box-sizing: border-box;

}

.message {
  
  .upper-message {
    display: flex;
    
    &__user-name {
      color: #333333;
      font-size: 16px;
    }

    &__date {
      color: #999999;
      font-size: 12px;
      padding-left: 5px;
    }
  }

  .lower-message {

    &__content {
      color: #434A54;
      font-size: 14px;
      padding-bottom: 46px;
    }

    &__image {
      height: 400px;
      width: 400px;
    }
  }
}
